.img-fluid {
    width: 100%;
}

.hover-pointer {
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/*.hover-pointer:hover {*/
/*    background-color: #40ad6f; */
/*    transition: background-color 0.3s ease; */
/*}*/


/*.hover-pointer tbody tr {*/
/*    transition: background-color 0.3s ease;*/
/*}*/